* {
    margin: 0;
    padding: 0;
    font-family: "Suwannaphum", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: whitesmoke;
}

header {
    background-color: midnightblue;
    display: flex;
    justify-content: center;
}

header h1 {
    margin: 0;
    padding: 10px 0 10px 0;
    color: whitesmoke;
}

#search-box {
    display: flex;
    flex-direction: column;
    float: left;
    padding: 10px 0 10px 10px;
    width: 350px;
}

#search-box h2 {
    font-weight: bolder;
}

#search-bar {
    border: solid 1px;
}

#search-button {
    margin-bottom: 20px;
}

#search-history {
    display: flex;
    flex-direction: column;
    border-top: solid 1px;
    padding-top: 20px;
}

#search-history button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 5px;
}